@import './variables';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #053B50;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
